@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: var(--app-background);
	height: 100%;
	height: -moz-available;
	height: -webkit-fill-available;
	height: stretch; 
    height: var(--app-height);
	transition: background-color 0.5s;
}

:root {
	--toastContainerTop: 0.5rem;
	--toastContainerRight: 0.5rem;
	--toastContainerBottom: auto;
	--toastContainerLeft: 0.5rem;
	--toastWidth: auto;
	--toastBackground: #e0e0e0;
	--toastColor: black;
	--toastBarBackground: #39ccb1;
	--app-height: 100%;
	text-align: center;
}