@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f2f2f2;
    touch-action: manipulation;
}

:root {
    --toastContainerTop: 0.5rem;
    --toastContainerRight: 0.5rem;
    --toastContainerBottom: auto;
    --toastContainerLeft: 0.5rem;
    --toastWidth: auto;
    --toastBackground: #e0e0e0;
    --toastColor: black;
    --toastBarBackground: #39ccb1;
    text-align: center;

}